<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="/css/landing.css">
</head>

<body>
  {{#if user}}

  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="container">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>

          <a href="/anto" class="navbar-item">
            Panel De Anto
          </a>

          <a href="/anto/options" class="navbar-item">
            Opciones
          </a>

        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/anto/upload" class="button is-danger">
                <strong>Subir</strong>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>

  {{/if}}
  <section class="hero  is-fullheight">

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-6-fullhd  is-6-widescreen is-6-desktop  is-offset-3-fullhd is-offset-3-widescreen is-offset-3-desktop
            is-10-mobile is-offset-1-mobile is-10-tablet is-offset-1-tablet
            ">
            <figure class="image">
              <img class="is-4by3" src="/img/header.svg">
            </figure>
          </div>

        </div>
        <div class="columns">
          <div class="column is-6-fullhd  is-6-widescreen is-6-desktop  is-offset-3-fullhd is-offset-3-widescreen is-offset-3-desktop
            is-10-mobile is-offset-1-mobile is-10-tablet is-offset-1-tablet
            ">
            <h2 class="subtitle">
              <p class="has-text-justified is-size-4-fullhd is-size-4-widescreen is-size-4-desktop is-size-1-mobile is-size-1-tablet">
                Colección de más de 2.700 avisos personales aparecidos en la Revista Margarita editada por Zig Zag
                durante la década de los ‘40 y ‘50. El valor de cada palabra para estos avisos era de veinte centavos.
                Los avisadores debían enviar, además del seudónimo, el nombre y dirección completos, que servían para
                enviar a su dueño las respuestas que se recibían. Las contestaciones que se mandaban a estos avisos
                debían mencionar el número correspondiente y enviar dos pesos en estampillas.
              </p>
            </h2>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6-fullhd  is-6-widescreen is-6-desktop  is-offset-3-fullhd is-offset-3-widescreen is-offset-3-desktop
            is-10-mobile is-offset-1-mobile is-10-tablet is-offset-1-tablet
            ">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input id="SA" class="input is-black" type="text" placeholder="Buscar">
              </p>
              <div class="control">
                <button id="boton" onclick="search()" class="button is-black custom-border"> BUSCAR </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <script type="text/javascript" src="/js/search.js"></script>
</body>