
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/css/landing.css">
</head>

<body>
    <section class="hero  is-fullheight">

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-4">
                        <div class="field has-addons">
                            <div class="control">
                                <input id="SA" class="input is-primary" type="text" placeholder="Buscar">
                            </div>
                            <div class="control">
                                <button id="boton" onclick="search()" class="button is-danger"> Buscar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
    <script type="text/javascript" src="/js/search.js"></script>
</body>
