<head>
  <link rel="stylesheet" href="/css/card.css">
</head>

<div class="container is-fluid has-text-centered has-text-justified">
<div class="columns is-multiline is-mobile is-vcentered">

  {{#if empty}}
    <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Nope
      </h1>
      <h2 class="subtitle">
        No se encontraron resultados
      </h2>
    </div>
  </div>
</section>
  {{else}}
    {{#each ads}}

      <div class="column
      is-12-mobile
      is-12-tablet
      is-one-third-desktop
      is-one-third-widescreen
      is-one-quarter-fullhd">


        <div class="card purple">
              <a href="/aviso/{{_id}}">
        <div class="card-content">
          <p class="subtitle has-text-white-bis">
            {{body}}
          </p>
        </div>
        </a>
      </div>
      </div>
    {{/each}}
  {{/if}}





</div>
</div>

