<head>
  <link rel="stylesheet" href="/css/card.css">
</head>

{{#if user}}

<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="container">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>

        <a href="/anto" class="navbar-item">
          Panel De Anto
        </a>

        <a href="/anto/options" class="navbar-item">
          Opciones
        </a>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/anto/upload" class="button is-danger">
              <strong>Subir</strong>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>

{{/if}}

<div class="container is-fluid has-text-centered has-text-justified">
  <div class="columns is-multiline is-vcentered">

    {{#if empty}}
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Nope
          </h1>
          <h2 class="subtitle">
            No se encontraron resultados
          </h2>
        </div>
      </div>
    </section>
    {{else}}
    {{#each ads}}

    <div class="column
      is-12-mobile
      is-12-tablet
      is-one-third-desktop
      is-one-third-widescreen
      is-one-quarter-fullhd">

      <a href="/aviso/{{_id}}">
      <div class="card">
        <div class="card-content">
          <p class="title is-4-fullhd is-4-widescreen is-4-desktop is-1-tablet is-1-mobile has-text-justified">
            {{body}}
          </p>
        </div>
      </div>
      </a>
    </div>
    {{/each}}
    {{/if}}





  </div>
</div>