<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">/</p>
            <a href="/">
              <p class="title">Anto.cl</p>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">/anto</p>
            <a href="/anto">
              <p class="title">Panel De Control</p>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">/anto/options</p>
            <a href="/anto/options">
              <p class="title">Cosas opcionales</p>
            </a>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">/anto/upload</p>
            <a href="/anto/upload">
              <p class="title">Subir archivo</p>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>