{{title}}


{{#if body}}
  <p>Soy un body</p>
{{else}}
      <section class="hero  is-fullheight">

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                      <form action="">
                        <div class="field">
                          <label class="label">Label</label>
                          <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                          </div>
                          <p class="help">This is a help text</p>
                        </div>
                                                <div class="field">
                          <label class="label">Label</label>
                          <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                          </div>
                          <p class="help">This is a help text</p>
                        </div>
                                                <div class="field">
                          <label class="label">Label</label>
                          <div class="control">
                            <input class="input" type="text" placeholder="Text input">
                          </div>
                          <p class="help">This is a help text</p>
                        </div>
                        <input type="submit" name="" id="" value="Register" class="button is-primary">
                      </form>
                    </div>
                </div>
            </div>

    </section>
{{/if}}

