<!DOCTYPE html>
<html lang="en">
<head>

  <title>{{title}}</title>
</head>
<body>
      {{#if user}}
    
        <nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="container">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>

      <a href="/anto" class="navbar-item">
        Panel De Anto
      </a>

      <a href="/anto/options" class="navbar-item">
        Opciones
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/anto/upload" class="button is-danger">
            <strong>Subir</strong>
          </a>
        </div>
      </div>
    </div>

  </div>
  </div>
</nav>

    {{/if}}
<section class="hero is-success is-fullheight has-text-centered">
  <div class="hero-body">
    <div class="container">
      <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx"/>
      </br></br>
      <label id="jsonObject"> JSON : </label>
    </div>
  </div>
  <button onclick="send()">Send</button>
</section>
<script src="/js/jquery.js"></script>
<script src="/js/xlsx.full.min.js"></script>
<script>
  let docu;
  const url = 'http://localhost:3000/data'

        $(document).ready(function(){
              $("#fileUploader").change(function(evt){
                    var selectedFile = evt.target.files[0];
                    var reader = new FileReader();
                    reader.onload = function(event) {
                      var data = event.target.result;
                      var workbook = XLSX.read(data, {
                          type: 'binary'
                      });
                      workbook.SheetNames.forEach(function(sheetName) {

                          var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);

                          var json_object = JSON.stringify(XL_row_object);
                          docu = json_object;

                          document.getElementById("jsonObject").innerHTML = 'Archivo listo';
                        })
                    };
                    reader.onerror = function(event) {
                      console.error("File could not be read! Code " + event.target.error.code);
                    };
                    reader.readAsBinaryString(selectedFile);
              });
        });


        async function send () {
          if (docu === undefined) {
            console.log('no wn')
          } else {
            try {
              const response = await fetch(url, {
                method: 'POST', // or 'PUT'
                body: docu, // data can be `string` or {object}!
                headers: {
                  'Content-Type': 'application/json'
                }
              });
              console.log('listo')
            } catch (error) {
              console.error('Error:', error);
            }
          }


        }
    </script>
</body>
</html>